@model FortuneTellerMVC.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<h3>@ViewBag.Even</h3>
<h3>@ViewBag.Odd</h3>
<h3>@ViewBag.MonthOne</h3>
<h3>@ViewBag.MonthTwo</h3>
<h3>@ViewBag.MonthThree</h3>
<h3>@ViewBag.MonthFour</h3>
<h3>@ViewBag.MonthFive</h3>
<h3>@ViewBag.MonthSix</h3>
<h3>@ViewBag.MonthSeven</h3>
<h3>@ViewBag.MonthEight</h3>
<h3>@ViewBag.MonthNine</h3>
<h3>@ViewBag.MonthTen</h3>
<h3>@ViewBag.MonthEleven</h3>
<h3>@ViewBag.MonthTwelve</h3>
<h3>@ViewBag.MonthNo</h3>
<h3>@ViewBag.ColorRed</h3>
<h3>@ViewBag.ColorOrange</h3>
<h3>@ViewBag.ColorYellow</h3>
<h3>@ViewBag.ColorGreen</h3>
<h3>@ViewBag.ColorBlue</h3>
<h3>@ViewBag.ColorIndigo</h3>
<h3>@ViewBag.ColorViolet</h3>
<h3>@ViewBag.One</h3>
<h3>@ViewBag.Two</h3>
<h3>@ViewBag.Three</h3>
<h3>@ViewBag.Whatever</h3>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)

        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthMonth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthMonth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FavoriteColor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FavoriteColor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfSiblings)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfSiblings)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
